body{
    margin: 0;
    height: 100vh;
    background-color: #223;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2rem;
    text-align: center;
    color:#00ffff;
}
.p{
    width:50%;
    margin:auto;
    color: #008888;
    text-align: center;
}
.end{
    text-align: right;
    color:#88a;
    font-weight: 100;
    bottom:0;
    padding-right: 5px;
}