body{
    margin: 0;
    height: 100vh;
    background-color: #223;
    color: aliceblue;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2rem;
    text-align: center;
    color:#00ffff;
    width: fit-content;
    padding: 1em;
    margin:2em auto;
}
h1:hover span{
    display:none;
}
h1:hover:before{
    content:"####_####";
    font-size: 0.9em;
}
.p{
    width:50%;
    margin:auto;
    color: #008888;
    text-align: center;
}
.end{
    text-align: right;
    color:#88a;
    font-weight: 100;
    bottom:0;
    padding-right: 5px;
}
input {
    position: absolute;
    width:fit-content;
    height: fit-content;
    margin: 5px;
    right:0;
}